In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("desafio1.csv")

In [3]:
df.head(3)

,RowNumber,id,sobrenome,pontuacao_credito,estado_residencia,genero,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
0,1,e7f44fcbd380d4cef7e6c232cc7e37895c3fd197,6d6e0aa1b9b413e442e2fb68df14b4fc3f91de50,619,SC,F,42,2,0.00,1,1,1
1,2,28dcb083ad90512da16b9430085c2cddb8ca5e12,48e1ad846796fa314f1b4a6702b83343eb5482c5,608,RS,F,41,1,83807.86,1,0,1
2,3,774bc378f787438c9c7594e536787d07a097a54b,f2b29d5d934de615812b697132e767dea0f1e9e2,502,SC,F,42,8,159660.80,3,1,0

In [4]:
df.pontuacao_credito.mode()

0    850
dtype: int64

In [5]:
df_estados = df.groupby('estado_residencia')['pontuacao_credito'].agg([pd.Series.mode,
                                                                      np.median,
                                                                      np.mean,
                                                                      np.std])

In [9]:
df_estados = df_estados.rename(columns = {'mode' : 'moda',
                                        'median' : 'mediana',
                                        'mean' : 'media',
                                        'std' : 'desvio_padrao'}).sort_values(by='estado_residencia', ascending=False)

In [12]:
json = df_estados.T

In [13]:
json

estado_residencia          SC          RS          PR
moda               850.000000  850.000000  850.000000
mediana            653.000000  650.000000  650.000000
media              649.537653  651.105143  648.961294
desvio_padrao       97.233493   95.136598   98.607186

In [15]:
json.to_json('submission.json', orient='columns')